{% extends 'teams/baseTeams.html.twig' %}

{% block contenido %}
  <div class="home">
    <h2>SEARCH YOUR FAVORITE TEAM</h2>
    {{ form(searchForm) }}
    <h3>Privileges</h3>
    <ul>
      <li>You need to register as User to see Team Details</li>
      <li>You need to register as Admin to Add, Delete and Modify Teams</li>
    </ul>
  </div>
{% endblock %}
