{% extends 'teams/baseTeams.html.twig' %}

{% block contenido %}
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ team.name }} Nº {{ team.code }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ team.logo }}" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col">{{ team.headCoach }}</div>
        </div>
        <div class="row">
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
